<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="/">🏥 Hospital Queue System</a>
        </div>
        <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/appointments">Appointments</a></li>
            <li><a href="/patients">Patients</a></li>
            <li><a href="/doctors">Doctors</a></li>
            <li><a href="/queue/today">Queue</a></li>
        </ul>
    </div>
</nav>